#Ignore all playbooks in the samples folder
**/samples/

#Ignore host file
**/hosts
**/hosts.ini

#Ignore ansible config
**/ansible.cfg

#Ignore vagrant files
**/.vagrant/

#Ignore all varriables
**/vars/
secrets

#Ignore all files
**/files/
**/.ssh/
**/git/
**/shorewall/
**/tmp/

#Ignore ansible retry files
*.retry
