---
# all secret varriables

ssh_keys:
  - name: "remoteusername1"
    key: |
      ssh-rsa Argretertert3ertB3NzaC== remoteusername1@organization.com
  - name: "remoteusername2"
    key: |
      ssh-rsa AerterytwyrhruryuAB3NzaC1== remoteusername2@organization.com
